#date_picker {
    position: fixed;
    top: 10px;
    left: 120px;
    z-index: 1;
    background-color: white;
    padding: 10px;

}

.day_div{
    float: left;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}